* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

.parent {
  min-height: 100vh;
  width: 100%;
  padding: 30px;
  background-color: #111;
  display:flex;
  flex-wrap: wrap;
  gap:30px;
  

}

.card {
  height: 300px;
  width: 250px;
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .top{
display: flex;
align-items: flex-start;
justify-content: space-between;
margin-bottom: 20px;

}
.card img{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid #dadada;

}
.card button{
display: flex;
align-items: center;
border: 1px solid #dadada;
padding: 5px 10px;
border-radius: 5px;
background-color: transparent;
color: #111;
}
.center{
  padding-bottom: 70px;
}

.center h3{
font-size: 22px;
  font-weight: 600;
  padding-bottom: 2px;
  
}

.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color:#aeaeae;
}

.center h2{
  font-size: 20px;
  font-weight: 500;
}
.center .tag{
  display: flex;
  margin-top: 10px;
  gap: 5px;

}
.center h4{
   font-size: 10px;
  background-color: #e4e4e4;
  color: #202020;
  font-weight: 500;
  padding: 5px 9px;
  border-radius: 5px;
}
.bottom{
  display: flex;

  align-items: center;
  justify-content: space-between;
  border-top: 1.3px solid black;
  padding-top: 15px;

}
.bottom button{
padding: 7px 16px;
  background-color: rgb(18, 18, 18);
color: white;
border-radius: 3px;
font-size: 12px;
column-width: 600;

}
.bottom h3{
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 4px;
}
.bottom p{
 
  font-size: 10px;
  color: #8b8b8b;
}